<div>
  <h2 id="page-heading" data-cy="CollaborateursHeading">
    <span jhiTranslate="ihmApp.collaborateurs.home.title">Collaborateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihmApp.collaborateurs.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-collaborateurs"
        [routerLink]="['/collaborateurs/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ihmApp.collaborateurs.home.createLabel"> Create a new Collaborateurs </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="collaborateurs?.length === 0">
    <span jhiTranslate="ihmApp.collaborateurs.home.notFound">No Collaborateurs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="collaborateurs && collaborateurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="societe">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.societe">Societe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="Email">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.Email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.tel">Tel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prestataire">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.prestataire">Prestataire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActif">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.isActif">Is Actif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateEntree">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.dateEntree">Date Entree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateSortie">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.dateSortie">Date Sortie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localisation.batiment">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.localisation">Localisation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projet.nom">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.collaborateurs.projet">Projet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collaborateurs of collaborateurs; trackBy: trackId" data-cy="entityTable">
          <td>{{ collaborateurs.nom }}</td>
          <td>{{ collaborateurs.societe }}</td>
          <td>{{ collaborateurs.Email }}</td>
          <td>{{ collaborateurs.tel }}</td>
          <td>{{ collaborateurs.prestataire }}</td>
          <td>{{ collaborateurs.isActif }}</td>
          <td>{{ collaborateurs.dateEntree | formatMediumDate }}</td>
          <td>{{ collaborateurs.dateSortie | formatMediumDate }}</td>
          <td>
            <div *ngIf="collaborateurs.localisation">
              <a [routerLink]="['/localisation', collaborateurs.localisation.id, 'view']">{{ collaborateurs.localisation.batiment }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let projet of collaborateurs.projets; let last = last">
              <a class="form-control-static" [routerLink]="['/projet', projet.id, 'view']">{{ projet.nom }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/collaborateurs', collaborateurs.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/collaborateurs', collaborateurs.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(collaborateurs)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
