<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="numeroInventaire">
      <h2 data-cy="numeroInventaireDetailsHeading"><span jhiTranslate="ihmApp.numeroInventaire.detail.title">Numero Inventaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ numeroInventaire.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.disponible">Disponible</span></dt>
        <dd>
          <span>{{ numeroInventaire.disponible }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ numeroInventaire.dateModification | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.commentaire">Commentaire</span></dt>
        <dd>
          <span>{{ numeroInventaire.commentaire }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.materielActuel">Materiel Actuel</span></dt>
        <dd>
          <div *ngIf="numeroInventaire.materielActuel">
            <a [routerLink]="['/materiel', numeroInventaire.materielActuel.id, 'view']">{{ numeroInventaire.materielActuel.asset }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.ancienMateriel">Ancien Materiel</span></dt>
        <dd>
          <div *ngIf="numeroInventaire.ancienMateriel">
            <a [routerLink]="['/materiel', numeroInventaire.ancienMateriel.id, 'view']">{{ numeroInventaire.ancienMateriel.asset }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.ancienProprietaire">Ancien Proprietaire</span></dt>
        <dd>
          <div *ngIf="numeroInventaire.ancienProprietaire">
            <a [routerLink]="['/collaborateurs', numeroInventaire.ancienProprietaire.id, 'view']">{{
              numeroInventaire.ancienProprietaire.nom
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ihmApp.numeroInventaire.nouveauProprietaire">Nouveau Proprietaire</span></dt>
        <dd>
          <div *ngIf="numeroInventaire.nouveauProprietaire">
            <a [routerLink]="['/collaborateurs', numeroInventaire.nouveauProprietaire.id, 'view']">{{
              numeroInventaire.nouveauProprietaire.nom
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/numero-inventaire', numeroInventaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
