<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span jhiTranslate="ihmApp.ticket.home.title">Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihmApp.ticket.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ihmApp.ticket.home.createLabel"> Create a new Ticket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
    <span jhiTranslate="ihmApp.ticket.home.notFound">No Tickets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tickets && tickets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statut">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.statut">Statut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.dateCreation">Date Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.dateFin">Date Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beneficiaire.nom">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.beneficiaire">Beneficiaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proprietaire.nom">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.ticket.proprietaire">Proprietaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; trackBy: trackId" data-cy="entityTable">
          <td>{{ ticket.type }}</td>
          <td jhiTranslate="{{ 'ihmApp.Etat.' + ticket.statut }}">{{ ticket.statut }}</td>
          <td>{{ ticket.dateCreation | formatMediumDate }}</td>
          <td>{{ ticket.dateFin | formatMediumDate }}</td>
          <td>
            <div *ngIf="ticket.beneficiaire">
              <a [routerLink]="['/collaborateurs', ticket.beneficiaire.id, 'view']">{{ ticket.beneficiaire.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ticket.proprietaire">
              <a [routerLink]="['/collaborateurs', ticket.proprietaire.id, 'view']">{{ ticket.proprietaire.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
