<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-collaborateurs-heading"
        data-cy="CollaborateursCreateUpdateHeading"
        jhiTranslate="ihmApp.collaborateurs.home.createOrEditLabel"
      >
        Create or edit a Collaborateurs
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.identifiant" for="field_identifiant">Identifiant</label>
          <input
            type="text"
            class="form-control"
            name="identifiant"
            id="field_identifiant"
            data-cy="identifiant"
            formControlName="identifiant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.tel" for="field_tel">Tel</label>
          <input type="number" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.prestataire" for="field_prestataire">Prestataire</label>
          <input
            type="checkbox"
            class="form-check"
            name="prestataire"
            id="field_prestataire"
            data-cy="prestataire"
            formControlName="prestataire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.isActif" for="field_isActif">Is Actif</label>
          <input type="checkbox" class="form-check" name="isActif" id="field_isActif" data-cy="isActif" formControlName="isActif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.dateEntree" for="field_dateEntree">Date Entree</label>
          <div class="input-group">
            <input
              id="field_dateEntree"
              data-cy="dateEntree"
              type="text"
              class="form-control"
              name="dateEntree"
              ngbDatepicker
              #dateEntreeDp="ngbDatepicker"
              formControlName="dateEntree"
            />
            <button type="button" class="btn btn-secondary" (click)="dateEntreeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.dateSortie" for="field_dateSortie">Date Sortie</label>
          <div class="input-group">
            <input
              id="field_dateSortie"
              data-cy="dateSortie"
              type="text"
              class="form-control"
              name="dateSortie"
              ngbDatepicker
              #dateSortieDp="ngbDatepicker"
              formControlName="dateSortie"
            />
            <button type="button" class="btn btn-secondary" (click)="dateSortieDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.collaborateurs.localisation" for="field_localisation">Localisation</label>
          <select
            class="form-control"
            id="field_localisation"
            data-cy="localisation"
            name="localisation"
            formControlName="localisation"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="localisationOption" *ngFor="let localisationOption of localisationsSharedCollection">
              {{ localisationOption.batiment }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="ihmApp.collaborateurs.projet" for="field_projets">Projet</label>
          <select
            class="form-control"
            id="field_projets"
            data-cy="projet"
            multiple
            name="projets"
            formControlName="projets"
            [compareWith]="compareProjet"
          >
            <option [ngValue]="projetOption" *ngFor="let projetOption of projetsSharedCollection">{{ projetOption.nom }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
