<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-extrac-dmocss-heading"
        data-cy="ExtracDMOCSSCreateUpdateHeading"
        jhiTranslate="ihmApp.extracDMOCSS.home.createOrEditLabel"
      >
        Create or edit a Extrac DMOCSS
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.adressePhysiqueDGFiP" for="field_adressePhysiqueDGFiP"
            >Adresse Physique DG Fi P</label
          >
          <input
            type="text"
            class="form-control"
            name="adressePhysiqueDGFiP"
            id="field_adressePhysiqueDGFiP"
            data-cy="adressePhysiqueDGFiP"
            formControlName="adressePhysiqueDGFiP"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.ipPcDgfip" for="field_ipPcDgfip">Ip Pc Dgfip</label>
          <input type="text" class="form-control" name="ipPcDgfip" id="field_ipPcDgfip" data-cy="ipPcDgfip" formControlName="ipPcDgfip" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.ipVpnIPSEC" for="field_ipVpnIPSEC">Ip Vpn IPSEC</label>
          <input
            type="text"
            class="form-control"
            name="ipVpnIPSEC"
            id="field_ipVpnIPSEC"
            data-cy="ipVpnIPSEC"
            formControlName="ipVpnIPSEC"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.ioTeletravail" for="field_ioTeletravail">Io Teletravail</label>
          <input
            type="text"
            class="form-control"
            name="ioTeletravail"
            id="field_ioTeletravail"
            data-cy="ioTeletravail"
            formControlName="ioTeletravail"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.statut" for="field_statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'ihmApp.Etat.null' | translate }}</option>
            <option *ngFor="let etat of etatValues" [value]="etat">{{ 'ihmApp.Etat.' + etat | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.numVersion" for="field_numVersion">Num Version</label>
          <input
            type="text"
            class="form-control"
            name="numVersion"
            id="field_numVersion"
            data-cy="numVersion"
            formControlName="numVersion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.collaborateur" for="field_collaborateur">Collaborateur</label>
          <select
            class="form-control"
            id="field_collaborateur"
            data-cy="collaborateur"
            name="collaborateur"
            formControlName="collaborateur"
            [compareWith]="compareCollaborateurs"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="collaborateursOption" *ngFor="let collaborateursOption of collaborateursSharedCollection">
              {{ collaborateursOption.nom }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.materiel" for="field_materiel">Materiel</label>
          <select
            class="form-control"
            id="field_materiel"
            data-cy="materiel"
            name="materiel"
            formControlName="materiel"
            [compareWith]="compareMateriel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="materielOption" *ngFor="let materielOption of materielsSharedCollection">{{ materielOption.asset }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.bureauActuel" for="field_bureauActuel">Bureau Actuel</label>
          <select
            class="form-control"
            id="field_bureauActuel"
            data-cy="bureauActuel"
            name="bureauActuel"
            formControlName="bureauActuel"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="localisationOption" *ngFor="let localisationOption of localisationsSharedCollection">
              {{ localisationOption.batiment }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.bureauDeplacement" for="field_bureauDeplacement"
            >Bureau Deplacement</label
          >
          <select
            class="form-control"
            id="field_bureauDeplacement"
            data-cy="bureauDeplacement"
            name="bureauDeplacement"
            formControlName="bureauDeplacement"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="localisationOption" *ngFor="let localisationOption of localisationsSharedCollection">
              {{ localisationOption.batiment }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.extracDMOCSS.localisation" for="field_localisation">Localisation</label>
          <select
            class="form-control"
            id="field_localisation"
            data-cy="localisation"
            name="localisation"
            formControlName="localisation"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="localisationOption" *ngFor="let localisationOption of localisationsSharedCollection">
              {{ localisationOption.batiment }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
