<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mouvement-heading" data-cy="MouvementCreateUpdateHeading" jhiTranslate="ihmApp.mouvement.home.createOrEditLabel">
        Create or edit a Mouvement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.source" for="field_source">Source</label>
          <input type="text" class="form-control" name="source" id="field_source" data-cy="source" formControlName="source" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.destination" for="field_destination">Destination</label>
          <input
            type="text"
            class="form-control"
            name="destination"
            id="field_destination"
            data-cy="destination"
            formControlName="destination"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.user" for="field_user">User</label>
          <input type="text" class="form-control" name="user" id="field_user" data-cy="user" formControlName="user" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.commentaire" for="field_commentaire">Commentaire</label>
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.asset" for="field_asset">Asset</label>
          <select
            class="form-control"
            id="field_asset"
            data-cy="asset"
            name="asset"
            formControlName="asset"
            [compareWith]="compareMateriel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="materielOption" *ngFor="let materielOption of materielsSharedCollection">{{ materielOption.asset }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.mouvement.localisation" for="field_localisation">Localisation</label>
          <select
            class="form-control"
            id="field_localisation"
            data-cy="localisation"
            name="localisation"
            formControlName="localisation"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="localisationOption" *ngFor="let localisationOption of localisationsSharedCollection">
              {{ localisationOption.batiment }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
