<div>
  <h2 id="page-heading" data-cy="MouvementHeading">
    <span jhiTranslate="ihmApp.mouvement.home.title">Mouvements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihmApp.mouvement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mouvement"
        [routerLink]="['/mouvement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ihmApp.mouvement.home.createLabel"> Create a new Mouvement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mouvements?.length === 0">
    <span jhiTranslate="ihmApp.mouvement.home.notFound">No Mouvements found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="mouvements && mouvements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="source">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.source">Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="destination">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.destination">Destination</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commentaire">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.commentaire">Commentaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materiel.asset">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.materiel">Materiel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localisation.batiment">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.mouvement.localisation">Localisation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mouvement of mouvements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mouvement', mouvement.id, 'view']">{{ mouvement.id }}</a>
          </td>
          <td>{{ mouvement.date | formatMediumDate }}</td>
          <td>{{ mouvement.type }}</td>
          <td>{{ mouvement.source }}</td>
          <td>{{ mouvement.destination }}</td>
          <td>{{ mouvement.user }}</td>
          <td>{{ mouvement.commentaire }}</td>
          <td>
            <div *ngIf="mouvement.materiel">
              <a [routerLink]="['/materiel', mouvement.materiel.id, 'view']">{{ mouvement.materiel.asset }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mouvement.localisation">
              <a [routerLink]="['/localisation', mouvement.localisation.id, 'view']">{{ mouvement.localisation.batiment }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mouvement', mouvement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mouvement', mouvement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mouvement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
