<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="materiel">
      <h2 data-cy="materielDetailsHeading"><span jhiTranslate="ihmApp.materiel.detail.title">Materiel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ materiel.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.utilisation">Utilisation</span></dt>
        <dd>
          <span>{{ materiel.utilisation }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.modele">Modele</span></dt>
        <dd>
          <span>{{ materiel.modele }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.asset">Asset</span></dt>
        <dd>
          <span>{{ materiel.asset }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.actif">Actif</span></dt>
        <dd>
          <span>{{ materiel.actif }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.dateAttribution">Date Attribution</span></dt>
        <dd>
          <span>{{ materiel.dateAttribution | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.dateRendu">Date Rendu</span></dt>
        <dd>
          <span>{{ materiel.dateRendu | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.commentaire">Commentaire</span></dt>
        <dd>
          <span>{{ materiel.commentaire }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.isHs">Is Hs</span></dt>
        <dd>
          <span>{{ materiel.isHs }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.objet">Objet</span></dt>
        <dd>
          <div *ngIf="materiel.objet">
            <a [routerLink]="['/typemateriel', materiel.objet.id, 'view']">{{ materiel.objet.type }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.localisation">Localisation</span></dt>
        <dd>
          <div *ngIf="materiel.localisation">
            <a [routerLink]="['/localisation', materiel.localisation.id, 'view']">{{ materiel.localisation.batiment }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ihmApp.materiel.collaborateur">Collaborateur</span></dt>
        <dd>
          <div *ngIf="materiel.collaborateur">
            <a [routerLink]="['/collaborateurs', materiel.collaborateur.id, 'view']">{{ materiel.collaborateur.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/materiel', materiel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
