<div>
  <h2 id="page-heading" data-cy="InformationsTechHeading">
    <span jhiTranslate="ihmApp.informationsTech.home.title">Informations Techniques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ihmApp.informationsTech.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-informations-tech"
        [routerLink]="['/informations-tech/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ihmApp.informationsTech.home.createLabel"> Create a new Informations Techniques </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="informationsTeches?.length === 0">
    <span jhiTranslate="ihmApp.informationsTech.home.notFound">No Informations Techniques found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="informationsTeches && informationsTeches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipdfipConnexion">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.ipdfipConnexion">Ipdfip Connexion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ipfixDMOCSS">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.ipfixDMOCSS">Ipfix DMOCSS</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adressMAC">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.adressMAC">Adress MAC</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iPTeletravail">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.iPTeletravail">I P Teletravail</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresseDGFiP">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.adresseDGFiP">Adresse DGFiP</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pcDGFiP.id">
            <div class="d-flex">
              <span jhiTranslate="ihmApp.informationsTech.pcDGFiP">Pc DGFiP</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let informationsTech of informationsTeches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/informations-tech', informationsTech.id, 'view']">{{ informationsTech.id }}</a>
          </td>
          <td>{{ informationsTech.ipdfipConnexion }}</td>
          <td>{{ informationsTech.ipfixDMOCSS }}</td>
          <td>{{ informationsTech.adressMAC }}</td>
          <td>{{ informationsTech.iPTeletravail }}</td>
          <td>{{ informationsTech.adresseDGFiP }}</td>
          <td>
            <div *ngIf="informationsTech.pcDGFiP">
              <a [routerLink]="['/materiel', informationsTech.pcDGFiP.id, 'view']">{{ informationsTech.pcDGFiP.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/informations-tech', informationsTech.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/informations-tech', informationsTech.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(informationsTech)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
