<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="informationsTech">
      <h2 data-cy="informationsTechDetailsHeading"><span jhiTranslate="ihmApp.informationsTech.detail.title">Informations Tech</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ informationsTech.id }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.informationsTech.pcDom">Pc Dom</span></dt>
        <dd>
          <span>{{ informationsTech.pcDom }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.informationsTech.pcDGFiP">Pc DG Fi P</span></dt>
        <dd>
          <span>{{ informationsTech.pcDGFiP }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.informationsTech.adresseSSG">Adresse SSG</span></dt>
        <dd>
          <span>{{ informationsTech.adresseSSG }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.informationsTech.adresseDGFiP">Adresse DG Fi P</span></dt>
        <dd>
          <span>{{ informationsTech.adresseDGFiP }}</span>
        </dd>
        <dt><span jhiTranslate="ihmApp.informationsTech.collaborateur">Collaborateur</span></dt>
        <dd>
          <div *ngIf="informationsTech.collaborateur">
            <a [routerLink]="['/collaborateurs', informationsTech.collaborateur.id, 'view']">{{ informationsTech.collaborateur.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/informations-tech', informationsTech.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
