<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-historique-heading" data-cy="HistoriqueCreateUpdateHeading" jhiTranslate="ihmApp.historique.home.createOrEditLabel">
        Create or edit a Historique
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.pc" for="field_pc">Pc</label>
          <input type="text" class="form-control" name="pc" id="field_pc" data-cy="pc" formControlName="pc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.zone" for="field_zone">Zone</label>
          <input type="text" class="form-control" name="zone" id="field_zone" data-cy="zone" formControlName="zone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.dateMouvement" for="field_dateMouvement">Date Mouvement</label>
          <div class="input-group">
            <input
              id="field_dateMouvement"
              data-cy="dateMouvement"
              type="text"
              class="form-control"
              name="dateMouvement"
              ngbDatepicker
              #dateMouvementDp="ngbDatepicker"
              formControlName="dateMouvement"
            />
            <button type="button" class="btn btn-secondary" (click)="dateMouvementDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.ancienProprietaire" for="field_ancienProprietaire"
            >Ancien Proprietaire</label
          >
          <select
            class="form-control"
            id="field_ancienProprietaire"
            data-cy="ancienProprietaire"
            name="ancienProprietaire"
            formControlName="ancienProprietaire"
            [compareWith]="compareCollaborateurs"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="collaborateursOption" *ngFor="let collaborateursOption of collaborateursSharedCollection">
              {{ collaborateursOption.nom }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.nouveauProprietaire" for="field_nouveauProprietaire"
            >Nouveau Proprietaire</label
          >
          <select
            class="form-control"
            id="field_nouveauProprietaire"
            data-cy="nouveauProprietaire"
            name="nouveauProprietaire"
            formControlName="nouveauProprietaire"
            [compareWith]="compareCollaborateurs"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="collaborateursOption" *ngFor="let collaborateursOption of collaborateursSharedCollection">
              {{ collaborateursOption.nom }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ihmApp.historique.materiel" for="field_materiel">Materiel</label>
          <select
            class="form-control"
            id="field_materiel"
            data-cy="materiel"
            name="materiel"
            formControlName="materiel"
            [compareWith]="compareMateriel"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="materielOption" *ngFor="let materielOption of materielsSharedCollection">{{ materielOption.asset }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
